{% extends "base.html" %}

{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About{% endblock title %}

{% block body %}

  <div class="container my-3">
    <h2 class="text-center py-3">About me</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?python,developer" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?comedy, singer" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Entertainer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?badmintop, Cricket" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Athlete</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container my-3 text-center" >
      <h1 class="my-4">My coding video</h1>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MxF8YOJI0nU?rel=0" allowfullscreen></iframe>
      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consectetur sequi, similique fugiat,
         laboriosam repellendus veniam rem eveniet accusantium dolores ipsum esse repellat nulla consequuntur, tenetur eaque hic dolor aliquid!</p>

      <br>      
    </div>
    
    
{% endblock body %}  