{% extends "base.html" %}

{% block projectsactive %}active{% endblock projectsactive %}
{% block title %}Projects{% endblock title %}

{% block body %}

  <div class="container my-3">
    <h2 class="text-center py-3">My Projects</h2>

    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?python,developer" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Developer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">click for Demo</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?comedy, singer" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Entertainer</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">click for Demo</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://source.unsplash.com/500x300/?badmintop, Cricket" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Athlete</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">click for Demo</a>
          </div>
        </div>
      </div>
    </div>
    <br>
{% endblock body %}